.mobile-nav-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #061427;
  top: 30px;
  right: 30px;
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.mobile-nav-toggle i.bx {
  color: #fff;
  font-size: 24px;
}

.main-container {
  margin-left: 300px;
}

.first-container {
  position: fixed;
  width: 300px;
  background: #061427;
  border: 1px solid #061427;
  height: 100vh;
  transition: 250ms all ease-in-out;
  z-index: 3;
}

.head-wrapper p {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.first-container img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 50%;
}

i.bxl-linkedin,
i.bxl-github {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  margin-left: 95px;
}

i.bxl-linkedin:hover,
i.bxl-github:hover {
  background-color: #333;
}

i.bxl-github {
  margin-left: 20px;
}

.body-wrapper i {
  display: block;
  margin: 70px 0 5px 30px;
  font-size: 25px;
  color: #a8a9b4;
}

.body-wrapper a {
  text-decoration: none;
}

.body-wrapper span {
  margin-left: 30px;
  color: #a8a9b4;
}

.second-container {
  width: 100%;
  height: 100vh;
  background: url("./assets/Logo.png");
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
}

.second-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(5, 13, 24, 0.3);

}

h2 {
  border-bottom: 5px solid #149ddd;
  color: #061427;
  width: 10%;
  padding: 50px 0 10px;
  margin-left: 30px;
}

.profile-pic img {
  display: block;
  width: 70%;
  height: auto;
  object-fit: cover;
  margin-top: 30px;
}

.col-6 h3 {
  font-weight: 700;
  font-size: 30px;
  color: #173b6c;
  margin: 10px 0 40px 50px;
}

.col-6 p,
.col-4 p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #061427;
}

p {
  padding-top: 10px;
  font-size: 18px;
  margin-bottom: 40px;
  color: #061427;

}

.icon-wrapper {
  flex-direction: column;
}

.icon-wrapper i {
  margin: 5px 10px 0 0;
}

.icon-wrapper span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 5px;
}

.item {
  display: flex;
}

.section-bg {
  background: #f5f8fd;
}

.skill {
  font-weight: bold;
  margin-right: 10px;
}

.loading-bar {
  width: 100%;
  height: 20px;
  background-color: #d3cece;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

.num-1 {
  background-color: #149ddd;
  height: 20px;
  position: relative;
  animation: progress 10s linear infinite;
  animation-delay: 0s;
}

.num-2 {
  background-color: #149ddd;
  height: 20px;
  position: relative;
  animation: progress 10s linear infinite;
  animation-delay: 1s;
}

.num-3 {
  background-color: #149ddd;
  height: 20px;
  position: relative;
  animation: progress 10s linear infinite;
  animation-delay: 2s;
}

.num-4 {
  background-color: #149ddd;
  height: 20px;
  position: relative;
  animation: progress 10s linear infinite;
  animation-delay: 3s;
}

.num-5 {
  background-color: #149ddd;
  height: 20px;
  position: relative;
  animation: progress 10s linear infinite;
  animation-delay: 4s;
}

.num-6 {
  background-color: #149ddd;
  height: 20px;
  position: relative;
  animation: progress 10s linear infinite;
  animation-delay: 5s;
}

.num-7 {
  background-color: #149ddd;
  height: 20px;
  position: relative;
  animation: progress 10s linear infinite;
  animation-delay: 6s;
}

.progress-text {
  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #061427;
  margin-bottom: 10px;
}

h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
}

#portfolio {
  background: #f5f8fd;
  padding: 25px 0 50px;
}

.my-card {
  position: relative;
  max-width: 300px;
  height: 300px;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.my-card:hover .card-front {
  transform: rotateY(180deg);
}

.my-card:hover .card-back {
  transform: rotateY(0deg);
}

.my-card img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card-back a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 300px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(51, 59, 63);
}

.figure-caption {
  margin-top: 10px;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .first-container {
    max-width: 0;
    overflow: hidden;
  }

  .main-container {
    margin-left: 0;
  }

  .second-container {
    background-position: bottom;
  }

  .section-content-header {
    margin-top: 20px;
  }

  h2 {
    width: 30%;
  }

  #resume h2 {
    margin-bottom: 30px;
  }

  #resume h3 {
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 21px;
  }

  #resume h4 {
    font-size: 16px;
  }

  .card-wrapper {
    margin: 30px 0;
  }

  .my-card {
    margin: 10px auto;
  }

  .card-caption {
    text-align: center;
  }

  .active {
    max-width: 300px;
  }

  .mobile-nav-toggle {
    display: flex;
  }
}